@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;

}
.navbar{
    background: rgb(125, 132, 142);
    position: fixed;
    z-index: 1000;
    /* top: -50px; */
    width:100%;
    padding: 15px 0 ;
    font-family: 'Courier New', Courier, monospace;
    border: white;
    border-style: solid;
    border-width: thick;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    position: relative;
    left: -70%;
}
.navbar .menu li a{
    color:white;
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
}
.home{
    display: flex;
    background-color: rgb(254, 141, 159);
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0px 5px 0px;
    /* background: url(https://www.rvinyl.com/Shared/Images/Product/Avery-Dennison-HP750-High-Performance-Cut-Vinyl-Film-Series/Avery-Dennison-HP750-High-Performance-Cut-Vinyl-Film-Series-Soft-Pink.jpg); */
}
.home .max-width{
    margin: auto;
    font-size: 50px;
}
.intro{
    bottom: 100%;
    margin-bottom: 70%;
}

.max-width{
    max-width: 850px;
    padding: 0 80px;
    margin: auto;

}
.home .home-content{
    position: relative;
    left: -15%;
}

.home .home-content .text-2{
    font-size: 18px;
    margin-right: 250px;
}
.home .home-content .github{
    display: inline-block;
    background: rgb(125, 132, 142);
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
}
.home .home-content a:hover{
    color:white;
    background: none;
}
@media (max-width: 100 px){
    .max-width{
        /* max-width: 1300px; */
        padding: 0 50px;
        margin: auto;
    }
    .navbar .menu{
        position: fixed;
        background: black;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
     .navbar .menu li{
        display: block;
     }
     .navbar .menu li a{
         display: inline-block;
         margin: 20px 0;
         font-size: 25px;
     }

    }
    .about{
        background-color: rgb(255, 227, 142);
        margin: 10px 5px 0px;
        height: 100vh;
        max-width: 100%;
        padding-top: 5%;
        padding-right: 37%;
        padding-left: 5%;

    }
    .img{
        margin-top: 16%;
        border: 5px solid white;
        border-radius: 10px;
        bottom: 10%;
        width: 40%;
    }
    .about p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        position: relative;
        left: 40%;
        top: -400%;
        color:white;
        border: 5px solid white;
        border-radius: 10px;
        padding: 3%;
        background-color:  rgb(125, 132, 142);
        margin: -290px 20px 100px 200px;
    }
    .works{
        max-width: 100%;
        background-color:cornflowerblue;
        margin: 10px 5px 0px;
        height: 100vh;
    }
    .about-title{

        margin: 50px 150px 0px 300px;
        border: 5px solid white;
        border-radius: 10px;
        background-color:  rgb(125, 132, 142);
        font-size: 30px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        position: relative;
        /* padding-top: 15%; */
        left: 25%;
        bottom: 100%;
    }
    works-content{
        width:100%;
        text-align: center;
    }
    .works-title{
        font-size: 30px;
        padding-top: 10%;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        position: relative;
    
    }
    .logo{
        width:50%;
        float: right;
        position: absolute;
        left: 80%;
        bottom: -40%;
    }

    jokebook{
        width:21%;
        border: solid white;
        border-radius: 10px;
        position: absolute;
        margin-top: 16%;
        bottom: -70%;

    }

    .jokebook:hover{
        color: white; 
        opacity: .5;
        border: solid rgb(125, 132, 142); 
    }  
    .jokebook:hover .j-description{
        visibility: visible;
    } 
    .img-1{
        position: relative;
        /* width:400px; */
    }

    .img-des{
        position: absolute;
        top: 0;
        left: 0;
    }
    music{
        width: 12%;
        border: solid white;
        border-radius: 10px; 
        position: absolute;
        left: 40%;
        bottom: -70%;
    }
    .music:hover{
        color: white; 
        opacity: .5;
        border: solid rgb(125, 132, 142); 
    } 

    second{
        width:12%;
        border: solid white;
        border-radius: 10px; 
        position: absolute;
        left: 60%;
        bottom: -70%;
    }
    .img-w:hover{
        color: white; 
        opacity: .5;
        border: solid rgb(125, 132, 142); 
    } 
    .img-w{
        border: solid white;
        border-radius: 10px; 
        position: absolute;
        /* float: left; */
        width:  150px;
        height: 150px;
        object-fit: cover;
    }
 
    .links{
        padding-top: 10%;
        right: 25%;
        position: absolute;
        /* width: 100%; */
        display: flex;
        /* text-align: center; */
        list-style-type: none;
        justify-content: space-between;
        width: 60%;

    }
  

    /* p{
    margin-right: 450px;
} */